.cart-modal-container {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 70px;
    right: 20px;
    z-index: 5;
    .cart-modal-body{
      overflow: auto;
      p{
        text-align: center;
        color: red;
      }
    }
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
  
    button {
      margin-top: auto;
      padding: 10px;
    }
  }